################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/wkt-playground/CopilotIndices/17.12.31.40377/CodeChunks.db
/.vs/wkt-playground/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
/.vs/wkt-playground/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
/.vs/wkt-playground/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/.vs/wkt-playground/FileContentIndex/3e9803e6-7ab8-446c-bc88-95db5f927f00.vsidx
/.vs/wkt-playground/v17/.wsuo
/.vs/wkt-playground/v17/DocumentLayout.json
/.vs/wkt-playground/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/.vs/wkt-playground/FileContentIndex
*.sqlite-journal
